<div class="container">
  <div class="row">
    <div class="col-md-3">Enter UserName</div>
    <div class="col-md-3">
      <input type="text" [formControl]="usernameControl" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-success" (click)="getEnabled()">
        Get Enabled
      </button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" (click)="getDisabled()">
        Get Disabled
      </button>
    </div>
  </div>
</div>
<button class='btn btn-info' (click)='startLoop()'>Start Loop</button>